
body {
    background-color: #eee8ac
}

#menu-icon > img {
    position: relative;
    margin: 20px;
    width: 4em;
}

h1 {
    text-align: center;
    font-family: "Sunny Spells", "Regular";
    letter-spacing: .1rem;
}

.textBlock > p, div > ul, a.home, a.assignments {
    font-family: "Mangabey", "Regular";
    font-size: 120%;
    height: 50%;
    width: 50%;
    text-align: justify;
    position: relative;
    left: 25%;
}

.portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div > h2 {
    font-family: "Sunny Spells", "Regular";
    position: relative;
    left: 25%;
    letter-spacing: .1rem;
}

table {
    border-collapse: collapse;
   
}

th {
    padding: 8px; /* Set padding for table header cells */
    text-align: left; /* Align text to the left in header cells */
}

td {
    padding: 8px; /* Set padding for table data cells */
    text-align: left; /* Align text to the left in data cells */
}

#completeForm {
    padding-left: 25px;
}



