
body {
    background-color: #eee8ac
}

#menu-icon > img {
    position: relative;
    margin: 20px;
    width: 4em;
}

h1 {
    text-align: center;
    font-family: "Sunny Spells", "Regular";
    letter-spacing: .1rem;
}

.textBlock > p, div > ul, a.home, a.assignments {
    font-family: "Mangabey", "Regular";
    font-size: 120%;
    height: 50%;
    width: 50%;
    text-align: justify;
    position: relative;
    left: 25%;
}

.portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div > h2 {
    font-family: "Sunny Spells", "Regular";
    position: relative;
    left: 25%;
    letter-spacing: .1rem;
}

table {
    border-collapse: collapse;
   
}

th, td {
    padding: 15px;
  }





