body {
    background-color: #eee8ac
}


#menu-icon > img {
    position: relative;
    margin: 20px;
    width: 4em;
}

.discography {
    padding-left: 15%;
    width: 25%;
}

.primary {
    color: black;
}

.menu-list > *{
  color: black;
  background-color: #eee8ac;
  border-top: 1px solid #0091b5;
  border-color: black;
}

div.album-icons > * {
  display: inline-block;
  margin: auto;
  padding: 14px;
}

.album-cover {
    width: 300px;
}

h1, .pageSubtitle {
    text-align: center;
    font-family: "Sunny Spells", "Regular";
    letter-spacing: .1rem;
}

.textBlock > p, div > ul, a.home, a.assignments {
    font-family: "Mangabey", "Regular";
    font-size: 120%;
    height: 50%;
    width: 50%;
    text-align: justify;
    position: relative;
    left: 25%;
}

.portrait {
    position: relative;
    left: 10%;
    max-width: 400px;
    border-radius: 10%;
}

div > h2 {
    font-family: "Sunny Spells", "Regular";
    position: relative;
    left: 25%;
    letter-spacing: .1rem;
}

.music-description {
    display: inline-block
    
}

iframe.first-video {
    float: right;
   
}


.portrait-images {
    padding-bottom: 100px;
}

.portrait-bio {
    position: relative;
    left: 35%;
}





